[probe_eddy_current my_eddy_probe]
sensor_type: ldc1612
i2c_mcu: extra_mcu
i2c_software_scl_pin: extra_mcu:PB10 #PB10
i2c_software_sda_pin: extra_mcu:PB11 #PB11
#probe_speed: 5.0 # The speed at which to perform normal homing operations
#home_trigger_height: 2.0 # The height at which the virtual endstop should trigger. A value between 1.0 and 3.0 is recommended, with 2.0 or 2.5 being good choices. This is also the height that is used for scanning operations.
x_offset: -19.8
y_offset: -0.75
#reg_drive_current: 15
descend_z: 2.0 #0.5
max_sensor_hz: 8426835

# [bed_mesh]
# speed: 300 #150 #500
# horizontal_move_z: 2.0
# mesh_min: 16,15		#15,15 # These min/max points are with the above linked Eddy mount on the stock toolhead.
# mesh_max: 330,300		#318,310   #335, 335
# probe_count: 11,11 #15,15 # 25,25 # Set to a lower 15,15 default as it appears a too high probe_count (too dense mesh) is bad with rapid_scan, see: https://www.klipper3d.org/Bed_Mesh.html#rapid-continuous-scanning
# algorithm: bicubic
# bicubic_tension: 0.5
# split_delta_z: 0.0125 # see: https://www.klipper3d.org/Bed_Mesh.html#move-splitting
# mesh_pps: 3,3
# adaptive_margin: 10 #5 Original
# fade_start: 1
# fade_end: 10
# fade_target: 0
# #scan_overshoot: 5  #uncomment this section if you still have room left over on the X axis for some scan overshoot to product smoother movements and more accurate scanning. Uncommenting this should be fine if you are using a standard voron mount.

#########################
### Original Rappetor ###
#########################
[bed_mesh]
speed: 250 #500
horizontal_move_z: 2
mesh_min: 18,18 # These min/max points are with the above linked Eddy mount on the stock toolhead.
mesh_max: 332,332
probe_count: 15,15 # 25,25 # Set to a lower 15,15 default as it appears a too high probe_count (too dense mesh) is bad with rapid_scan, see: https://www.klipper3d.org/Bed_Mesh.html#rapid-continuous-scanning
algorithm: bicubic
bicubic_tension: 0.5
split_delta_z: 0.0125 # see: https://www.klipper3d.org/Bed_Mesh.html#move-splitting
mesh_pps: 3,3
adaptive_margin: 5
fade_start: 1
fade_end: 10
fade_target: 0
#scan_overshoot: 5  #uncomment this section if you still have room left over on the X axis for some scan overshoot to product smoother movements and more accurate scanning. Uncommenting this should be fine if you are using a standard voron mount.

[homing_override]
gcode:
    {% if not 'Z' in params and not 'Y' in params and 'X' in params %}
      G90
      G0 Z5 F300
      G28 X
      G0 X348 F1200
    {% elif not 'Z' in params and not 'X' in params and 'Y' in params %}
      G90
      G0 Z5 F300
      G28 Y
      G0 Y360  F1200
    {% elif not 'Z' in params and 'X' in params and 'Y' in params %}
      G90
      G0 Z5 F300
      G28 Y
      G0 Y360  F1200
      G4 P2000
      M400
      G28 X
      G0 X348  F1200
    {% elif 'Z' in params and not 'X' in params and not 'Y' in params %}
      G90
      G0  X191 Y165 F3600
      G28 Z
      G0  Z10 F600
    {% else %}
      G90
      G0 Z5 F300
      G28 Y
      G0 Y360  F1200
      G4 P2000
      M400
      G28 X
      G0 X348  F1200
      G90
      G0  X191 Y165 F3600
      G28 Z
      G0  Z10 F600
    {% endif %}
axes: xyz
set_position_z: 0

############################## TEST #############################

# [gcode_macro _RELOAD_Z_OFFSET_FROM_PROBE]
# gcode:
#   {% set Z = printer.toolhead.position.z %}
#   SET_KINEMATIC_POSITION Z={Z - printer.probe.last_probe_position.z}

# [gcode_macro SET_Z_FROM_PROBE]
# gcode:
#     {% set METHOD = params.METHOD | default("automatic") %}
#     {% set SAMPLES = params.SAMPLES | default(5) %}
#     {% set PROBE_SPEED = params.PROBE_SPEED | default(5) %}
#     {% set LIFT_SPEED = params.LIFT_SPEED | default(5) %}
#     {% set SAMPLE_RETRACT_DIST = params.SAMPLE_RETRACT_DIST | default(2) %}
#     {% set SAMPLES_TOLERANCE_RETRIES = params.SAMPLES_TOLERANCE_RETRIES | default(3) %}
#     {% set SAMPLES_TOLERANCE = params.SAMPLES_TOLERANCE | default(0.025) %}
#     PROBE METHOD={METHOD} SAMPLES={SAMPLES} PROBE_SPEED={PROBE_SPEED} LIFT_SPEED={LIFT_SPEED} SAMPLE_RETRACT_DIST={SAMPLE_RETRACT_DIST} SAMPLES_TOLERANCE_RETRIES={SAMPLES_TOLERANCE_RETRIES} SAMPLES_TOLERANCE={SAMPLES_TOLERANCE}
#     #PROBE METHOD={METHOD}
#     _RELOAD_Z_OFFSET_FROM_PROBE
#     G0 Z5

# [gcode_macro _ADJ_SCAN_FROM_TAP]
# gcode:
#     {% set OFFSET = printer.probe.last_probe_position.z %}
#     SET_GCODE_OFFSET Z={(-OFFSET)}

# [gcode_macro SET_SCAN_FROM_TAP]
# gcode:
#     {% set SAMPLES = params.SAMPLES | default(5) %}
#     {% set PROBE_SPEED = params.PROBE_SPEED | default(3) %}
#     {% set LIFT_SPEED = params.LIFT_SPEED | default(3) %}
#     {% set SAMPLES_TOLERANCE_RETRIES = params.SAMPLES_TOLERANCE_RETRIES | default(3) %}
#     {% set SAMPLES_TOLERANCE = params.SAMPLES_TOLERANCE | default(0.025) %}

#     SET_Z_FROM_PROBE METHOD=tap
#     # Move to the tap point
#     {% set is_absolute = printer.gcode_move.absolute_coordinates %}
#     G90
#     {% set cf = printer.configfile.settings %}
#     {% set eddy = cf["probe_eddy_current my_eddy_probe"] %}
#     {% set amap = printer.gcode_move.axis_map %}
#     {% set tpos = printer.gcode_move.position %}
#     G0 Z5 F300 # Z-Hop
#     G0 Y{tpos[amap["Y"]] - eddy.y_offset} X{tpos[amap["X"]] - eddy.x_offset} F3000
#     G0 Z{eddy.descend_z} F300
#     #PROBE METHOD=scan SAMPLES={SAMPLES} PROBE_SPEED={PROBE_SPEED} LIFT_SPEED={LIFT_SPEED} SAMPLES_TOLERANCE_RETRIES={SAMPLES_TOLERANCE_RETRIES} SAMPLES_TOLERANCE={SAMPLES_TOLERANCE}
#     PROBE METHOD=scan
#     _ADJ_SCAN_FROM_TAP
#     {% if not is_absolute %}
#     G91
#     {% endif %}